.topContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
  }
  .side{
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 50%;
}
  